extends ../layout

block content
    a(href='/bicicletas/create') Nueva bicicleta
    br
    br
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col')
                th(scope='col')
        tbody 
            each bici in bicicletas
                tr
                    td(scope='row')= bici.bicicletaID
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        //crea un boton al lado de los datos de las bicicletas que manda la ruta con el id de la bicicleta
                        form.inline(method='post' action='/bicicletas/'+bici.id+'/delete')
                            input(type='hidden' name='id' value=bici.id)
                            button.link-button(type='submit' class='btn')
                                ='Eliminar'
                    td
                        //crea un botos al lado de los datos de las bicicletas que manda la ruta con el id de la bicicleta
                        form.inline(method='get' action='/bicicletas/'+bici.id+'/update')
                            input(type='hidden' name='id' value=bici.id)
                            button.link-button(type='submit' class='btn')
                                ='Actualizar'

